# to prevent pull to change the index css color palette
src/index.css merge=ours
src/assets/theme.jsx merge=ours
src/core/variables/ProjectVariables.jsx merge=ours
public/logo/logo.png merge=keep-ours -text
public/logo/logo2.png merge=keep-ours -text
public/logo/loader.png merge=keep-ours -text
tailwind.config.js merge=ours
index.html merge=keepMine